.App {
  text-align: center;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.cellInput {
  width: 50px;
  height: 50px;
  font-size: 20px;
  text-align: center;
  padding: 0px;
  border: 1px solid black;
}
table {
  border-collapse: collapse;
  border: 3px solid beige;
  background-color: rgb(34, 137, 148);
}

td {
  padding: 0;
  background-color: rgb(62, 172, 184);
}
.buttonContainer {
  margin-top: 20px;
}
.checkBtn {
  background-color: rgb(255, 160, 35);
  font-weight: bold;
  padding: 12px 20px;
  border: none;
  border-radius: 20px;
  font-size: 14px;
  margin: 0px 20px;
}

.resetBtn {
  background-color: rgb(30, 207, 163);
  font-weight: bold;
  padding: 12px 20px;
  border: none;
  border-radius: 20px;
  font-size: 14px;
  margin: 0px 20px;
}
.bBorder {
  border-bottom: 2px solid black;
}
.rBorder {
  border-right: 2px solid black;
}
